[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.1.4"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = "~=5.2"
gunicorn = "~=20.1"
celery = {version = "==5.3.1", extras = ["redis"]}

[dev-packages]
flake8 = "*"
requests = "*"
isort = "*"
black = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
drf-yasg = "*"

[requires]
python_version = "3.10"